* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../img/main_bg.jpg');
    background-size: cover;
    min-height: 100vh;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.header-wrap {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.logo-wrap {
    width: 57px;
    height: 51px;
    background-image: url('../icons/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header-logo {
    display: flex;
    height: 51px;
    margin: 5px 0 5px 0;
}

.header-logo:hover h1,
.header-logo:hover p {
    color: #F26522;
}

.header-logo:hover>.logo-wrap {
    background-image: url('../icons/logo_orange.svg');
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
}

.header-title {
    margin: 0;
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-subtitle {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    font-size: 18px;
    color: #FFFFFF;
}

.email:hover {
    color: #F26522;
}

.phone:hover {
    color: #F26522;
}

.main-wrap {
    padding-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 55px;
    grid-row-gap: 37px;
}

.main-wrap-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-wrap-item1 {
    grid-area: 1 / 1 / 2 / 2;
}

.main-wrap-item2 {
    grid-area: 1 / 2 / 2 / 3;
}

.main-wrap-item3 {
    grid-area: 1 / 3 / 2 / 4;
}

.main-wrap-item4 {
    grid-area: 2 / 1 / 3 / 2;
}

.main-wrap-item5 {
    grid-area: 2 / 2 / 3 / 3;
}

.main-wrap-item6 {
    grid-area: 2 / 3 / 3 / 4;
}

.img-wrap {
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #000000, #FFFFFF);
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main-subtitle {
    font-size: 18px;
    color: #FFFFFF;
}

.item-block {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    background-color: #F26522;
    height: 55px;
}

.main-wrap-item:hover .item-block,
.main-wrap-item:hover .main-subtitle {
    color: #F26522;
    bottom: 0;
    transition: all 0.2s;
}

.item-wrapper {
    position: relative;
    padding: 7px 16px 12px 14px;
    width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.item-wrapper-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-wrapper-text {
    font-size: 10px;
    color: #FFFFFF;
}

.item-wrapper-price {
    font-size: 20px;
    color: #FFFFFF;
}

.item-wrapper-arrow {
    font-size: 14px;
    color: #FFFFFF;
    width: 78px;
}

.item-wrapper-arrow::before {
    content: "";
    background-image: url('../icons/arrow.svg');
    background-repeat: no-repeat;
    width: 5px;
    height: 10px;
    background-size: contain;
    position: absolute;
    top: 29px;
    right: -11px;
}

.footer-wrap {
    padding-top: 49px;
    padding-bottom: 15px;

}

.footer-text {
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}